<h1>How to make a homemade water source for your baby chickens</h1>

<h3>
<p>If you’re thinking about chicks and have already done some research you probably know that water is a vital part in the chickens life. When I got my first batch of chicks, life was very hard because the water holder we got was hard to refill and got dirty long before it was finished. They did fine but we got lucky.</p>
 <p>The second time we got chicks I actually hatched them with one of my own chickens that had gone brody (which is when a chicken that tries to hatch their eggs even if they aren't fertile). To avoid the mistake  I had made the last time with the water, I decided to experiment with my own ideas instead of buying a water holder that may not even work. I found it was really easy.</p>
<p> All you need is an air tight container such as a plastic water bottle with a cap and  a shallow container that can hold water that is less than 3in tall at the rim so that your chicks can reach the water (you can use taller things as they grow). The shallow container can be as long and wide as you want. The bigger it is  the longer the water will last opposed to just having a container on the ground that you need to fill every 2-3 hours.</p>
<p> To put it together all you need to do is poke holes  in your water bottle or similar thing. The should be even and below the water level you want or it will over flow, fill the air tight bottle, put it onto the other container and you have a water source for your chicks.</p>
<p> You can do the same thing for food and just make the holes bigger holes so the food can get through.</p>
</h3>


